<section class='problems'>
  <% if problems.any? %>
    <%= render problems %>

    <%= paginate problems %>
  <% else %>
    There are no problems here yet, you can <%= link_to "add one here", new_problem_path %>.
  <% end %>
</section>
