<h1 class='title'><%= t('.title') %></h1>
<div class='subtitle'>
  <% if logged_in? %>
    <%= link_to t('.add'), new_problem_path %>
  <% else %>
    <%= raw t('.guest_add', login: link_to(t('.login_text'), login_path(:github))) %>
  <% end %>
</div>

<%= render 'problems', problems: @problems %>

