<h1 class='title'><%= @user.display_name %></h1>

<p class='subtitle'>These are the problems <%= @user.display_name %> has solved.</p>

<%= render 'problems/problems', problems: @user.solved_problems.page(page) %>

