<section class='problems'>
  <% 5.times do %>
    <div class='problem'>
      <h5>
        <%= link_to random_problem %>
        <span class='small'>(<%= pluralize rand(10), "solution" %>)</span>
      </h5>

      <div class='judge'><%= link_to random_judge.name, random_judge %></div>

      <div class='categories'>
        <% random_category(3).each do |category| %>
          <span class='category success'>
            <%= link_to category.name %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
