<section class='reg-wall'>
  <h2>
    <span>¿Cómo Vamos?</span>
    is a place to share & track solutions to competitive programming problems.
  </h2>

  <section class='login'>
    You can sign in with <%= link_to "GitHub", login_path(:github) %>
  </section>

  <p class='small'>
    You can still browse for <%= link_to "problems" %> & <%= link_to "solutions" %> as a guest, but won't be able to submit any content.
  </p>
</section>
