html{
  min-height: 100%;
  position: relative;
  margin: 0;
}

body{
  margin: 0;
  height: 100%;
}

.wrapper{
  @include outer-container;
}

#content{
  padding-bottom: 2em + $footer-height;
  @include outer-container;
}

.small {
  font-size: 0.75 * $base-font-size;
}

.x-small {
  font-size: 0.5 * $base-font-size;
  line-height: $base-font-size;
  vertical-align: middle;
}

.field{
  margin: 1.5em 0;
}

.section{
  @include outer-container;
}

.title{
  @include outer-container;
  margin-bottom: 1em;
}

.subtitle{
  @include outer-container;
  margin-top: -1.3em;
  margin-bottom: 2em;
}

.inline{
  display: inline;
}

.chosen-container{
  min-width: 15em;
}

@import "header";
@import "footer";
@import "sidebar";
@import "alerts";
