.problems{
  .problem{
    padding-bottom: 18px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 17px;

    h5 span{
      color: $gray;
      font-weight: lighter;
    }

    h5 a{
      @include link(darken($base-font-color, 70), lighten($base-font-color, 25));
    }

    .judge a{
      display: block;
      margin: 0.2em 0;
      @include link($base-font-color, darken($link-color, 25));
    }

    .meta{
      display: inline-block;
      margin: 0.7em;
      &:first-child { margin-left: 0; }
    }
  }

  .categories{
    @extend %badges;
    .category{
      @extend %badge;
      cursor: pointer;
      margin: 0 1px;
    }
  }
}

.problems_controller.show_action{
  .subtitle a{
    margin-right: 2em;
  }
}
