.sidebar{
  @include span-columns($sidebar-columns);

  h3{
    margin-bottom: 1em;
  }

  ul li{
    margin-bottom: 0.75em;

    a {
      display: block;
      @include link(darken($base-font-color, 70), $link-color);
      &.active{
        color: $link-color;
        font-weight: bold;
      }
    }
  }
}

.with-sidebar{
  @include span-columns($content-columns);
}
