<% unless current_page?(profile_path) %>
    <% if current_user.persisted? && !current_user.profile_ready? %>
      <div class='info alert notice'>
        <% profile_link = link_to(t('.here'), profile_path) %>
        <%= t('.complete_profile', profile_link: profile_link).html_safe %>
      </div>
    <% end %>
<% end %>
