<footer>
  <%= link_to 'https://github.com/nhocki/como_vamos', target: '_blank' do %>
    <%= t('.open_source') %>
  <% end %>
  <div class='author'>
    <%= link_to "Rebuilt by Nicolás Hock Isaza", 'http://blog.nhocki.com', target: '_blank' %>
  </div>
</footer>
