<section class='sidebar'>
  <%= cache localized_key('sidebar_categories') do %>
    <h3><%= t('.categories') %></h3>

    <ul>
      <% sidebar_categories.each do |category| %>
        <%= content_tag_for(:li, category) do %>
          <%= link_to category.name.titleize, '#' %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</section>
